/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

html,
body,
button,
input,
select,
textarea {
  color: $color__text;
  font-family: $font__main, sans-serif;
  font-size: $font-size__main;
  font-weight: 300;
  font-style: normal;
  line-height: $font__lh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link--visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $color__link--hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
