/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/

.button {
  @include input;

  font-weight: 500;
  padding: $rhythm__base/5 $rhythm__base * 1.5;
  margin: $rhythm__base/5 0;
  text-transform: capitalize;
  cursor: pointer;

  &:hover,
  &:active {
    color: $color__link--hover;
    border: 2px solid $color__link--hover;
  }
}

.button--icon {
  &,
  &:hover,
  &:active {
    color: $color__link;
    border: none;
    line-height: 1;
    padding: 0 $rhythm__base/3;
  }
}
