/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer__nav {
  li {
    line-height: 1.2;
    padding: 0 $rhythm__base;

    &:first-child {
      padding-left: 0;
    }

    &:not(:last-child) {
      border-right: 1px solid $color__text;
    }
  }
}
