/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer__nav {
  li {
    line-height: 1.2;

    &:not(:first-child) {
      padding-left: $rhythm__base;
    }

    &:not(:last-child) {
      padding-right: $rhythm__base;
      border-right: 1px solid $color__text;
    }
  }
}
