/*--------------------------------------------------------------
# Form
--------------------------------------------------------------*/

.input {
  @include input;

  color: $color__text;
  margin-top: $rhythm__base/3;
  margin-bottom: $rhythm__base/1.2;
  padding: $rhythm__base/6 $rhythm__base/3;
  width: 70%;

  &:focus {
    border-color: $color__text;
  }
}

.input--textarea {
  width: 100%;
}

.input--padded {
  padding: 0.4rem 0.6rem;
  margin-top: $rhythm__base;
  margin-bottom: $rhythm__base * 3;
}
